<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Re_Run_Failed_Testcases">

 <listeners>
<listener class-name="RetryListner" />
</listeners>


  <test thread-count="5" name="Test">
    <classes>
      <class name="TestLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
